$LIGHT-GREY: #ddd;
$GREY: grey;

$BLUE-4: #7480A1;
$BLUE-3: #4F608C;
$BLUE-2: #2F4275;
$BLUE-1: #192C60;
$BLUE-0: #081A4A;

$RED-4: #EEA2A4;
$RED-3: #CE6A6C;
$RED-2: #AC393C;
$RED-1: #8E181B;
$RED-0: #6D0003;

$GREEN-4: #88C284;
$GREEN-3: #5AA956;
$GREEN-2: #338C2F;
$GREEN-1: #187414;
$GREEN-0: #045900;

$GOLD-4: #F0D7A4;
$GOLD-3: #D0B06B;
$GOLD-2: #AD883A;
$GOLD-1: #8F6918;
$GOLD-0: #6E4A00;