.url, .url span, .json, code {
  font-family: "Lucida Console", Monaco, monospace;
}

.url, .url span {
  color: purple;
  .method, .protocol {
    font-weight: bold;
    font-style: italic;
  }
}

.json {
  padding: 8px;
  margin: 8px;
  color: blue;
  background: $LIGHT-GREY;
}
